::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(187 172 172 / 93.2%);
  border-radius: 2px;
}

::-webkit-scrollbar-track-piece {
  background: #fff;
}

::-webkit-scrollbar-thumb:horizontal:hover,
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgb(230 80 80 / 80%);
}

.color-link {
  color: var(--ifm-link-color);
}
  
.bg-banner {
  background-image: url(/img/mingrixiang.jpg);
}
.card-hover{
  transition: transform .2s ease-in-out;
}
.card-hover:hover {
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.2);
  transform: translateY(-5px);
}
[data-theme='dark'] {
  .bg-banner {
    background-image: url(/img/banner.jpg);
  }
}